.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between; /* Pushes left and right apart */
  align-items: center;
  padding: 1rem 2rem;
  background: var(--bg-color); /* Whatever your bg color is */
  backdrop-filter: blur(10px); 

}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem; /* Space between items */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.container {
  display: flex;
  padding:  0rem 2rem;
  background: var(--bg-color); 
}

.sidebar{
  display: flex ;
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  flex-direction: column;
  width: 220px;
  height: 100vh;
  gap: 2rem; /* Space between items */

}

.sidebar .active {
  color:grey;
  font-weight: bold;

}
.content {
  display: flex;
  margin-left: 188px;
  margin-top: 57px;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
}

section {
  margin-top:55px ;
  height: 100vh;
  scroll-margin-top: 60px;
}

button{
padding: 0;
border: none;
background: none;
color: inherit;
}

.music-button:not(:active){
  color: inherit;
}

.playing{
  color:rgb(154, 16, 154);
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar a:hover{
 background-color: #d9d8d8;
}


.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.light {
  background-color: white;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.dark {
  background-color: #000000;
  color: white;
  min-height: 100vh;
}

.dark .navbar {
  border-bottom: 1px solid #444; 
}

.light .navbar {
  border-bottom: 1px solid #ddd; 
}

.dark .nav-left a{
  color: #9f9fa9;
}

.dark .nav-left a:hover{
  color: white;
}

.light .nav-left a{
  color: #71717b;
} 

.light .nav-left a:hover{
  color: black;
}
.dark .sidebar {
  border-right: 1px solid #444; 
}

.light .sidebar {
  border-right: 1px solid #ddd; 
}