.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between; /* Pushes left and right apart */
  align-items: center;
  padding: 1rem 2rem;
  background: var(--bg-color);
  backdrop-filter: blur(10px); /* gives it the frosted glass look */

}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem; /* Space between items */
}

.nav-left a {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* space between text and icon */
}

.nav-left a svg {
  transition: transform 0.2s ease;
}

.nav-left a:hover svg {
  transform: translate(2.5px,-2.5px); /* moves up and diagonally */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.container {
  display: flex;
  padding:  0rem 2rem;
  background: var(--bg-color); 
}

.sidebar{
  display: flex ;
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  flex-direction: column;
  padding-top: 40px;
  padding-left:20px ;
  width: 220px;
  height: 100vh;
  gap: 2rem; /* Space between items */

}

.sidebar a {
  display: block;
  transition: all 0.3s ease;
  max-width: 180px;
}

.sidebar a.active {
  background-color: #333; /* dark gray for dark mode */
  color: white;
  font-weight: bold;
  padding: 8px 8px; /* some padding around the text */
  border-radius: 4px; /* rounded corners (optional) */
  transition: all 0.3s ease; /* smooth transition */
}

.light .sidebar a.active {
  background-color: #e5e5e5; /* light gray */
  color: black;
}

/*.sidebar a {
  position: relative;
  padding-left: 12px; /* make room for the bar 
}*/

/* .sidebar a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: transparent;
  transition: background 0.3s ease;
} */

/* .sidebar a.active::before {
  background: purple;  or whatever color 
} */


.content {
  display: flex;
  margin-left: 188px;
  margin-top: 57px;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  padding-left: 250px;
}

section {
  margin-top:55px ;
  height: 100vh;
  scroll-margin-top: 60px;
}

button{
padding: 0;
border: none;
background: none;
color: inherit;
}

.music-button:not(:active){
  color: inherit;
}

.playing{
  color:rgb(154, 16, 154);
}

a {
    text-decoration: none;
    color: inherit;
}



.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.light {
  background-color: white;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.dark {
  background-color: #000000;
  color: white;
  min-height: 100vh;
}

.dark .navbar {
  border-bottom: 1px solid #444; 
}

.light .navbar {
  border-bottom: 1px solid #ddd; 
}

.dark .nav-left a{
  color: #9f9fa9;
}

.dark .nav-left a:hover{
  color: white;
}

.light .nav-left a{
  color: #71717b;
} 

.light .nav-left a:hover{
  color: black;
}
.dark .sidebar {
  border-right: 1px solid #444; 
}

.light .sidebar {
  border-right: 1px solid #ddd; 
}