.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between; /* Pushes left and right apart */
  align-items: center;
  padding: 1rem 2rem;
  background: var(--bg-color); /* Whatever your bg color is */
  color: blueviolet ;
  border-style: dashed;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem; /* Space between items */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.container {
  display: flex;
  padding:  0rem 2rem;
  background: var(--bg-color); /* Whatever your bg color is */
}

.sidebar{
  display: flex ;
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  flex-direction: column;
  width: 220px;
  height: 100vh;
  gap: 2rem; /* Space between items */
  color: blue;
  border-style: dashed;
}

.content {
  display: flex;
  margin-left: 188px;
  margin-top: 57px;
  flex-direction: column;
  flex: 1;
  color: red;
  gap: 1.5rem;
  border-style: dashed;
}

section {
  margin-top:55px ;
  height: 100vh;
}



.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.light {
  background-color: white;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.dark {
  background-color: #000000;
  color: white;
  min-height: 100vh;
}
