/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bg-dark: #ffffff;
  --text-color: #000000;
}

/* Monospace for structural/UI elements */
.logo, .navbar, .sidebar {
  font-family: 'Space Mono', monospace;
}

h1, h2, h3,.back-button {
  font-family: 'Outfit', sans-serif; 
}

/* Clean sans-serif for body content */
body, p, section {
  font-family: 'Geist', sans-serif;
}
p{
  font-size:20px;
}

.dark-mode {
  background-color: black;
  color: white;
}

