/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bg-dark: #ffffff;
  --text-color: #000000;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--bg-dark);
  color: var(--text-color);
}

.dark-mode {
  background-color: black;
  color: white;
}